@import "tailwindcss";

@theme {
    --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-albescent-white-50: #faf8f2;
    --color-albescent-white-100: #f3eee1;
    --color-albescent-white-200: #ece3d0;
    --color-albescent-white-300: #d6c29b;
    --color-albescent-white-400: #c5a372;
    --color-albescent-white-500: #b98d56;
    --color-albescent-white-600: #ab7a4b;
    --color-albescent-white-700: #8f623f;
    --color-albescent-white-800: #745038;
    --color-albescent-white-900: #5e4230;
    --color-albescent-white-950: #322118;

    --color-wasabi-50: #f5f7ef;
    --color-wasabi-100: #e6ebd9;
    --color-wasabi-200: #cfd9b6;
    --color-wasabi-300: #b3c18c;
    --color-wasabi-400: #9bac69;
    --color-wasabi-500: #869753;
    --color-wasabi-600: #7c8a4a;
    --color-wasabi-700: #5a6237;
    --color-wasabi-800: #4d5231;
    --color-wasabi-900: #44482d;
    --color-wasabi-950: #252717;
}

@layer base {
    body {
        @apply bg-albescent-white-100;
    }
}

input:-webkit-autofill,
input:autofill {
    box-shadow: inset 0 0 0 1000px white;
    -webkit-text-fill-color: var(--color-albescent-white-950);
    caret-color: var(--color-albescent-white-950);
}

input:-webkit-autofill:focus,
input:autofill:focus {
    box-shadow:
        inset 0 0 0 1000px white,
        0 0 0 2px var(--color-albescent-white-200);
}
